button,
input[type="submit"],
input[type="reset"] {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}
.page {
  height: 100vh;
  display: flex;
  align-items: center;
}

.container {
  border-radius: 10px;
  max-width: 50%;
  height: 400px;
  max-width: 327px;
  margin: 0 auto;
  background-color: #161d2f;
}
.header {
  font-size: 4em;
  margin-right: auto;
}

.innerContainer {
  max-width: 80%;
  margin: 0 auto;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.emailInput {
  padding: 10px;
  width: 90%;
  background-color: #161d2f;
  border: none;
  border-bottom: 2px solid #5a698f;
}
.passwordInput {
  padding: 10px;
  width: 90%;
  border: none;
  background-color: #161d2f;
  border-bottom: 2px solid #5a698f;
}
.repeatPasswordInput {
  padding: 10px;
  width: 90%;
  border: none;
  background-color: #161d2f;
  border-bottom: 2px solid #5a698f;
}
.btnWrapper {
  padding-top: 2rem;
}
.btn {
  height: 48px;
  width: 100%;
  margin: 0 auto;
  background-color: #fc4747;
  color: whitesmoke;
  border-radius: 10px;
}
.registerLink {
  background-color: transparent;
  border: none;
  outline: none;
  color: #fc4747;
  font-size: 19px;
  text-decoration: none;
}
.footerWrapper {
  padding-bottom: 1.5rem;
}
.paragraph {
  text-align: center;
}
/* zmienić px na rem albo em */
